{{ define "body_area" }}
        {{ template "site_nav_area" }}
        <h2>Search</h2>
        <p>Discover Items you might like</p>
        <div class="search-form-wrapper">
                <form action="/s" method="POST">
                        <div class="form-item-area">
                                <input type="text" id="queryString" />
                        </div>
                        <div class="form-item-area">
                                <input type="submit" value="search" />
                        </div>
                </form>
        </div>
{{ end }}
