{{ define "nav-area" }}
<nav class="nav-area">
    <div class="nav-area__nav-item">
        <a href="/" class="nav-link">
            <div class="nav-link__media-area">
                <img width="24" height="24" src="/static/icons/home_icon.svg" alt="home" />
            </div>
            <div class="nav-link__content-area">
                <p class="nav-link-label">home</p>
            </div>
        </a>
    </div>
    <div class="nav-area__nav-item">
        <a href="/search" class="nav-link">
            <div class="nav-link__media-area">
                <img width="24" height="24" src="/static/icons/search_icon.svg" alt="search" />
            </div>
            <div class="nav-link__content-area">
                <p class="nav-link-label">search</p>
            </div>
        </a>
    </div>
    <div class="nav-area__nav-item">
        <a href="/account" class="nav-link">
            <div class="nav-link__media-area">
                <img width="24" height="24" src="/static/icons/account_icon.svg" alt="account" />
            </div>
            <div class="nav-link__content-area">
                <p class="nav-link-label">account</p>
            </div>
        </a>
    </div>
</nav>
{{ end }}
