{{ define "body_area" }}

{{ template "header_area" }}

<div class="main-area">
    <!-- category-feed -->
    <div class="wrapper--category-feed">
        <div class="category-feed">
            <div class="category-feed__content-area">

            </div>
            <div class="category-card__action-area">
            </div>
        </div>
    </div>

    <!-- category-card -->
    <div class="wrapper--category-card">
        <div class="category-card">
            <a href="#" class="./category/{category_id}">
                <div class="category-card__media-area">
                    <img src="./static/images/television-category-images.png" width=100 height=100 alt="category image">
                </div>
                <div class="category-card__content-area">
                    <h2>Televisions</h2>
                </div>
            </a>
        </div>
        <div class="category-card">
            <a href="#" class="./category/{category_id}">
                <div class="category-card__media-area">
                    <img src="./static/images/category_img-xbox_x-150X150.png" width=100 height=100 alt="category image">
                </div>
                <div class="category-card__content-area">
                    <h2>Consoles</h2>
                </div>
            </a>
        </div>

    </div>
</div>

{{ template "footer_area" }}
{{ end }}

