{{ define "footer_area" }} 
<footer class="footer-area">
        <div class="footer-nav-area">
            <div class="footer-nav-item">
                <a href="#">sitemap</a>
            </div>
            <div class="footer-nav-item">
                <a href="#">legal</a>
            </div>              
            <div class="footer-nav-item">
                <a href="#">support</a>
            </div>
        </div>
        <div class="footer-area--notice-banner">
            <p class="notice-txt">sokomoko 2025. Untrademarked. All rights unreserved. Copywrong</p>
        </div>
</footer>
{{ end }}
