{{ define "footer_area" }} 
<footer class="footer-area">
        <p>sokmoko</p>
        <div class="footer-nav-area">
                <div class="footer-nav-item">
                        <a href="#">sitemap</a>
                </div>
                <div class="footer-nav-item">
                        <a href="#">legal</a>
                </div>              
                <div class="footer-nav-item">
                        <a href="#">support</a>
                </div>
        </div>
</footer>
{{ end }}
