{{ define "site_nav_area" }}
<nav class="nav-area">
    <div class="nav-item-area">
            <a href="/" class="nav-item--link">sokomoko</a>
    </div>
    <div class="nav-item-area">
        <a href="/search" class="nav-item--link">search</a>
    </div>
    <div class="nav-item-area">
            <a href="/cart" class="nav-item--link">cart</a>
    </div>
    <div class="nav-item-area">
        <a href="/account" class="nav-item--link">account</a>
    </div>
    <div class="nav-item-area">
            <a href="/delivery" class="nav-item--link">delivery</a>
    </div>
    <div class="nav-item-area">
	    <a href="/blog" class="nav-item--link">blog</a>
    </div>
</nav>
{{ end }}
