{{ define "site_nav_area" }}
<nav class="nav-area">
    <div class="nav-item-area">
            <a href="/">sokomoko</a>
    </div>
    <div class="nav-item-area">
           <a href="/search">search</a>
    </div>
    <div class="nav-item-area">
            <a href="/cart">cart</a>
    </div>
    <div class="nav-item-area">
            <a href="/account">account</a>
    </div>
    <div class="nav-item-area">
            <a href="/delivery">delivery</a>
    </div>
    <div class="nav-item-area">
	    <a href="/blog">blog</a>
    </div>
</nav>
{{ end }}
