{{ define "root_template" }}
<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <link rel="manifest" href='{{ asset "manifest.json" }}' />
                <link rel="preload" href='{{ asset "stylesheets/styles.css" }}' as="style" />
                <title>{{ block "title" . }}{{end}}</title>
                <link rel="stylesheet" href='{{ asset "stylesheets/styles.css" }}'>
        </head>
        <body class="{{ block "body-class" . }}site{{ end }}">
                <!-- header-area. -->
                <div class="site__header wrapper--header">
                        <div class="site__container container">
                                {{ block "header-area" . }}
                                {{ end }}
                        </div>
                </div>

                <!-- nav-area. -->
                {{ block "nav-area" . }}
                {{ end }}

                <!-- main-area. -->
                <div class="site__main wrapper--main">
                        <div class="site__container container">
                                {{ block "main-area" . }}
                                {{ end }}
                        </div>
                </div>

                <!-- footer-area. -->
                 <div class="site__footer wrapper--footer">
                        <div class="site__container container">
                                {{ block "footer-area" . }}
                                {{ end }}
                        </div>
                 </div>
                <script src='{{ asset "scripts/main.js" }}' defer></script>
        </body>
</html>
{{ end }}
