{{ define "root_template" }}
<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <link rel="manifest" href="/static/manifest.json" />
                <title>{{ block "title" . }}{{end}}</title>
                <link rel="stylesheet" href="/static/stylesheets/styles.css">
        </head>
        <body class="site">
                <!-- header-area. -->
                <div class="site__header wrapper--header">
                        <div class="site__container container">
                                {{ block "header-area" . }}
                                {{ end }}
                        </div>
                </div>

                <!-- main-area. -->
                <div class="site__main wrapper--main">
                        <div class="site__container container">
                                {{ block "main-area" . }}
                                {{ end }}
                        </div>
                </div>

                <!-- footer-area. -->
                 <div class="site__footer wrapper--footer">
                        <div class="site__container container">
                                {{ block "footer-area" . }}
                                {{ end }}
                        </div>
                 </div>
                <script src="/static/scripts/main.js"></script>
        </body>
</html>
{{ end }}
