{{ define "nav-area" }}
<nav class="site-nav nav">
    <ul class="site-nav__list nav__list">
        <li class="site-nav__item nav__item">
            <a href="/" class="site-nav__link nav__link">Home</a>
        </li>
        <li class="site-nav__item nav__item">
            <a href="/search" class="site-nav__link nav__link">Search</a>
        </li>
        <li class="site-nav__item nav__item">
            <a href="/account" class="site-nav__link nav__link">Account</a>
        </li>
    </ul>
</nav>
{{ end }}
