* {
    box-sizing: border-box;
    margin: 0;
}

html {
    position: relative;
    display: block;
    font-family: monospace;
    font-size: 16px;
}

body
{
    display: block;
    margin: 0;
    padding: 0;
}

/* body-area */
.body-area
{
    display: block;
    margin: 0;
    padding: 0;
}

/* header-area */
.wrapper--header-area
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-area
{
    display: block;
}

/* nav-area */
.nav-area
{
    display: flex;
    flex-direction: column;
}

.nav-item-area
{
    display: block;
    border-bottom: .1rem gray dashed;
}

.nav-item-area:hover
{
    border-bottom: .1rem black dashed;
}

.nav-item-area, a
{
    margin: .15rem 0rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 500;
    color: gray;
}

.nav-item-area, a:hover
{
    color: black;
}

/* site-main-area */
.main-area
{
    display: block;
}

.category-card
{
    display: flex;
    flex-direction: column;
}

.category-card__media-area
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-card__content-area
{
    text-align: center;
}

.category-card__action-area
{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer-area */
.footer-area
{
    display: block;
    border-top: .1rem black dashed;
}

.footer-nav-item
{
    display: block;
    padding: .2rem 0rem;
    border-bottom: .1rem gray dashed;
}

.footer-area--notice-banner
{
    display: block;
    margin: .3rem;
}

.notice-txt
{
    text-align: center;
    font-size: .75rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
